%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {feature, maybe_expr, enable}
]}.

{src_dirs, [{"src", [{recursive, true}]}]}.
{shell, [{config, "./config/dev_sys.config.src"}]}.

{deps, [
    {nova, {git, "https://github.com/novaframework/nova.git", {branch, "master"}}},
    {arizona,
        {git, "https://github.com/arizona-framework/arizona.git",
            {branch, "feat/zero-deps-rewrite"}}},
    {arizona_nova,
        {git, "https://github.com/arizona-framework/arizona_nova.git",
            {branch, "feat/zero-deps-rewrite"}}}
]}.

{relx, [
    {release, {asobi_site, git}, [
        asobi_site,
        sasl
    ]},
    {mode, dev},
    {sys_config_src, "./config/dev_sys.config.src"},
    {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {sys_config, "./config/prod_sys.config"},
            {vm_args, "./config/vm.args"}
        ]}
    ]},
    {test, [
        {erl_opts, [nowarn_export_all, nowarn_missing_spec, warnings_as_errors, {i, "test"}]},
        {deps, [
            {nova_test, {git, "https://github.com/novaframework/nova_test.git", {branch, "main"}}}
        ]},
        {ct_opts, [{sys_config, "./config/dev_sys.config.src"}]},
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {xref_extra_paths, ["test"]}
    ]}
]}.

{dialyzer, [
    {plt_apps, all_deps},
    {plt_extra_apps, [arizona, cowboy, cowlib, ranch]},
    {warnings, [unknown, unmatched_returns]},
    {exclude_mods, [
        asobi_site_layout,
        asobi_site_home_view
    ]}
]}.

{project_plugins, [
    {rebar3_nova, {git, "https://github.com/Taure/rebar3_nova.git", {branch, "feat/unified-gen"}}},
    {rebar3_audit, {git, "https://github.com/Taure/rebar3_audit.git", {branch, "main"}}},
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}},
    {erlfmt, "~>1.7"},
    {rebar3_fly, {git, "https://github.com/Taure/rebar3_fly.git", {branch, "main"}}}
]}.

{erlfmt, [
    write,
    {files, [
        "rebar.config",
        "src/*.app.src",
        "src/**/{*.erl, *.hrl}",
        "test/**/{*.erl, *.hrl}"
    ]},
    {exclude_files, ["config/vm.args.src", "config/prod_sys.config.src"]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
